<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.sap.ec.EngagementCloudSdkInitializer"
                android:value="androidx.startup" />
        </provider>

        <receiver
            android:name="com.sap.ec.mobileengage.push.PushTokenBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.sap.ec.sdk.PUSH_TOKEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.sap.ec.mobileengage.push.PushMessageBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.sap.ec.sdk.PUSH_MESSAGE_PAYLOAD" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.sap.ec.mobileengage.push.PushTokenRegisterOnBootCompletedReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.sap.ec.mobileengage.push.NotificationOpenedActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Translucent" />
    </application>

</manifest>