<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="0.0.0">

    <application android:name=".TestApplication">
        <activity
            android:name="com.emarsys.FakeActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.AppCompat.Light" />
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="remove">
            <meta-data
                android:name="com.emarsys.EmarsysSdkInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>
