name: Publish Engagement Cloud SDK web to GitHub Packages

on:
  workflow_dispatch:

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ./gradlew clean && ./gradlew kotlinUpgradeYarnLock && ./gradlew jsBrowserProductionWebpack

      - name: Gather Artifacts
        id: gather_artifacts
        run: |
          ARTIFACT_DIR="dist/js-artifacts"
          mkdir -p "$ARTIFACT_DIR" && \
          cp ./engagement-cloud-sdk/build/kotlin-webpack/js/productionExecutable/*.js* "$ARTIFACT_DIR"/ && \
          cp ./build/js/packages/engagement-cloud-sdk/kotlin/*.d.ts* "$ARTIFACT_DIR"/
          echo "artifact_path=$ARTIFACT_DIR" >> "$GITHUB_OUTPUT"
        shell: bash

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: js-artifacts
          path: ${{ steps.gather_artifacts.outputs.artifact_path }}
          if-no-files-found: error