name: Unified Emarsys SDK Nightly CI

on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *'

env:
  USE_LOCAL_DEPENDENCY: ${{ vars.USE_LOCAL_DEPENDENCY }}
  GOOGLE_SERVICES_API_KEY: ${{ secrets.GOOGLE_SERVICES_API_KEY }}
  RELEASE_MODE: ${{ vars.RELEASE_MODE }}
  ANDROID_RELEASE_KEY_PASSWORD: ${{ secrets.ANDROID_RELEASE_KEY_PASSWORD }}
  ANDROID_RELEASE_KEY_ALIAS: ${{ secrets.ANDROID_RELEASE_KEY_ALIAS }}
  ANDROID_RELEASE_STORE_PASSWORD: ${{ secrets.ANDROID_RELEASE_STORE_PASSWORD }}
  ANDROID_RELEASE_STORE_FILE_BASE64: ${{ secrets.ANDROID_RELEASE_STORE_FILE_BASE64 }}
  FIREBASE_SERVICE_ACCOUNT_BASE64: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_BASE64 }}
  GOOGLE_OAUTH_SERVER_CLIENT_ID: ${{ secrets.GOOGLE_OAUTH_SERVER_CLIENT_ID }}
  GOOGLE_SERVICES_JSON_BASE64: ${{ secrets.GOOGLE_SERVICES_JSON_BASE64 }}
  OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
  OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
  SONATYPE_STAGING_PROFILE_ID: ${{ secrets.SONATYPE_STAGING_PROFILE_ID }}
  SONATYPE_SIGNING_KEY_ID: ${{ secrets.SONATYPE_SIGNING_KEY_ID }}
  SONATYPE_SIGNING_PASSWORD: ${{ secrets.SONATYPE_SIGNING_PASSWORD }}
  SONATYPE_SIGNING_SECRET_KEY_RING_FILE: ${{ secrets.SONATYPE_SIGNING_SECRET_KEY_RING_FILE }}
  DETECT_LATEST_RELEASE_VERSION: ${{ secrets.DETECT_LATEST_RELEASE_VERSION }}
  DETECT_PROJECT_USER_GROUPS: ${{ secrets.DETECT_PROJECT_USER_GROUPS }}
  DETECT_PROJECT_VERSION_DISTRIBUTION: ${{ secrets.DETECT_PROJECT_VERSION_DISTRIBUTION }}
  BLACKDUCK_ACCESS_TOKEN: ${{ secrets.BLACKDUCK_ACCESS_TOKEN }}
  BLACKDUCK_URL: ${{ secrets.BLACKDUCK_URL }}
  SLACK_CHANNEL: mobile-team-ci
  SLACK_ICON: https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/Kotlin_Icon.svg/1200px-Kotlin_Icon.svg.png
  SLACK_TITLE: Commit status
  SLACK_USERNAME: Unified Emarsys SDK - KMP
  SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}

jobs:
  build:
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3
        with:
          cache-overwrite-existing: true
          gradle-home-cache-cleanup: true

      - name: Gradle Build
        run: make build-pipeline
  lint:
    needs: build
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3

      - name: Run lint
        run: make lint

  test:
    needs: build
    runs-on: macos-latest
    strategy:
      matrix:
        include:
          - platform: android
          - platform: jvm
          - platform: web

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Add Google-Services.json from secret
        if: matrix.platform == 'android'
        uses: davidSchuppa/base64Secret-toFile-action@v1
        with:
          destination-path: composeApp/src/
          filename: google-services.json
          secret: ${{ secrets.GOOGLE_SERVICES_JSON_BASE64 }}

      - name: Set up Firebase Service Account
        if: matrix.platform == 'android'
        uses: davidSchuppa/base64Secret-toFile-action@v1
        with:
          destination-path: ./
          filename: firebase_test_lab_service_account.json
          secret: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_BASE64 }}

      - name: Create test apks
        if: matrix.platform == 'android'
        run: make create-apks

      - name: Copy compose app apk
        if: matrix.platform == 'android'
        run: cp ./composeApp/build/outputs/apk/androidTest/debug/composeApp-debug-androidTest.apk composeApp.apk

      - name: Copy test apk
        if: matrix.platform == 'android'
        run: cp ./emarsys-sdk/build/outputs/apk/androidTest/debug/emarsys-sdk-debug-androidTest.apk androidTests.apk

      - name: Run tests
        if: matrix.platform == 'android'
        uses: asadmansr/Firebase-Test-Lab-Action@v1.0
        with:
          arg-spec: 'androidTestDevices.yml:emarsys-sdk'
        env:
          SERVICE_ACCOUNT: ./firebase_test_lab_service_account.json

      - name: Test JVM
        if: matrix.platform == 'jvm'
        run: make test-jvm

      - name: Setup Node.js
        if: matrix.platform == 'web'
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Setup Chrome
        if: matrix.platform == 'web'
        run: brew install --cask google-chrome && open -a Google\ Chrome

      - name: Test Web
        if: matrix.platform == 'web'
        run: make test-web
  reporting:
    if: always()
    needs: [ build, test, lint ]
    runs-on: ubuntu-latest
    steps:
      - name: Report on Slack (Error)
        if: ${{ !cancelled() && contains(needs.*.result, 'failure') }}
        uses: megamegax/slack_action@0.3.1
        with:
          webhook_url: '${{env.SLACK_WEBHOOK}}'
          channel: '${{env.SLACK_CHANNEL}}'
          message: 'Nightly build failed! :man-gesturing-no: :blobcatfearful:'
          user_name: '${{env.SLACK_USERNAME}}'
          job_status: 'failure'
          user_icon: '${{env.SLACK_ICON}}'
          actions: '[{ "type": "button", "text": "View actions", "url": "https://github.com/emartech/kmp-emarsys-sdk/actions" }]'

      - name: Report on Slack (Success)
        if: ${{ !contains(needs.*.result, 'cancelled') && !contains(needs.*.result, 'failure') }}
        uses: megamegax/slack_action@0.3.1
        with:
          webhook_url: '${{env.SLACK_WEBHOOK}}'
          channel: '${{env.SLACK_CHANNEL}}'
          message: 'Nightly build successful! :man-gesturing-ok: :bananadance:'
          user_name: '${{env.SLACK_USERNAME}}'
          job_status: 'success'
          user_icon: '${{env.SLACK_ICON}}'
          actions: '[{ "type": "button", "text": "View actions", "url": "https://github.com/emartech/kmp-emarsys-sdk/actions" }]'
