name: Unified Emarsys SDK CI

on:
  pull_request:
    types: [ opened, reopened, synchronize ]
  workflow_dispatch:
  push:
    branches-ignore:
      - 'dependabot/**'

env:
  USE_LOCAL_DEPENDENCY: ${{ vars.USE_LOCAL_DEPENDENCY }}
  GOOGLE_SERVICES_API_KEY: ${{ secrets.GOOGLE_SERVICES_API_KEY }}
  RELEASE_MODE: ${{ vars.RELEASE_MODE }}
  ANDROID_RELEASE_KEY_PASSWORD: ${{ secrets.ANDROID_RELEASE_KEY_PASSWORD }}
  ANDROID_RELEASE_KEY_ALIAS: ${{ secrets.ANDROID_RELEASE_KEY_ALIAS }}
  ANDROID_RELEASE_STORE_PASSWORD: ${{ secrets.ANDROID_RELEASE_STORE_PASSWORD }}
  ANDROID_RELEASE_STORE_FILE_BASE64: ${{ secrets.ANDROID_RELEASE_STORE_FILE_BASE64 }}
  FIREBASE_PROJECT_ID: ${{ secrets.FIREBASE_PROJECT_ID }}
  FIREBASE_SERVICE_ACCOUNT_JSON: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_JSON }}
  GOOGLE_OAUTH_SERVER_CLIENT_ID: ${{ secrets.GOOGLE_OAUTH_SERVER_CLIENT_ID }}
  GOOGLE_SERVICES_JSON_BASE64: ${{ secrets.GOOGLE_SERVICES_JSON_BASE64 }}
  OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
  OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
  SONATYPE_STAGING_PROFILE_ID: ${{ secrets.SONATYPE_STAGING_PROFILE_ID }}
  SONATYPE_SIGNING_KEY_ID: ${{ secrets.SONATYPE_SIGNING_KEY_ID }}
  SONATYPE_SIGNING_PASSWORD: ${{ secrets.SONATYPE_SIGNING_PASSWORD }}
  SONATYPE_SIGNING_SECRET_KEY_RING_FILE: ${{ secrets.SONATYPE_SIGNING_SECRET_KEY_RING_FILE }}
  DETECT_LATEST_RELEASE_VERSION: ${{ secrets.DETECT_LATEST_RELEASE_VERSION }}
  DETECT_PROJECT_USER_GROUPS: ${{ secrets.DETECT_PROJECT_USER_GROUPS }}
  DETECT_PROJECT_VERSION_DISTRIBUTION: ${{ secrets.DETECT_PROJECT_VERSION_DISTRIBUTION }}
  BLACKDUCK_ACCESS_TOKEN: ${{ secrets.BLACKDUCK_ACCESS_TOKEN }}
  BLACKDUCK_URL: ${{ secrets.BLACKDUCK_URL }}
  SLACK_ICON: https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/Kotlin_Icon.svg/1200px-Kotlin_Icon.svg.png
  SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}

jobs:
  build:
    runs-on: macos-latest
    strategy:
      matrix:
        include:
          - platform: android
          - platform: web
          - platform: ios

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build
        run: make build-${{ matrix.platform }}

  lint:
    needs: build
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Run lint
        run: make lint

  test:
    needs: build
    runs-on: macos-13
    strategy:
      matrix:
        include:
          - platform: android
          - platform: web
          - platform: ios

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Setup Android Emulator & Test
        if: matrix.platform == 'android'
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          script: make test-android

      - name: Test iOS
        if: matrix.platform == 'ios'
        run: make test-ios

      - name: Setup Node.js
        if: matrix.platform == 'web'
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Setup Chrome
        if: matrix.platform == 'web'
        run: brew install --cask google-chrome

      - name: Test Web
        if: matrix.platform == 'web'
        run: make test-web
  reporting:
    if: always()
    needs: [ build, test, lint ]
    runs-on: ubuntu-latest
    steps:
      - name: Report on Slack (Error)
        if: ${{ !cancelled() && contains(needs.*.result, 'failure') }}
        uses: megamegax/slack_action@0.3.1
        with:
          webhook_url: '${{env.SLACK_WEBHOOK}}'
          channel: 'mobile-team-ci'
          message: 'Last push build failed! :man-gesturing-no: :blobcatfearful:'
          user_name: 'Unified Emarsys SDK'
          job_status: 'failure'
          user_icon: '${{env.SLACK_ICON}}'
          actions: '[{ "type": "button", "text": "View actions", "url": "https://github.com/emartech/kmp-emarsys-sdk/actions" }]'

      - name: Report on Slack (Success)
        if: ${{ !contains(needs.*.result, 'cancelled') && !contains(needs.*.result, 'failure') }}
        uses: megamegax/slack_action@0.3.1
        with:
          webhook_url: '${{env.SLACK_WEBHOOK}}'
          channel: 'mobile-team-ci'
          message: 'Last push build successful! :man-gesturing-ok: :bananadance:'
          user_name: 'Unified Emarsys SDK'
          job_status: 'success'
          user_icon: '${{env.SLACK_ICON}}'
          actions: '[{ "type": "button", "text": "View actions", "url": "https://github.com/emartech/kmp-emarsys-sdk/actions" }]'

      - name: Trigger automerge
        if: ${{ !contains(needs.*.result, 'cancelled') && !contains(needs.*.result, 'failure') && github.event.pull_request != null && github.actor == 'dependabot[bot]' && github.event.pull_request.merged == false}}
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.AUTO_MERGE_TOKEN }}
          event-type: checks-complete
          client-payload: '{ "prNumber": "${{ github.event.pull_request.number }}"}'
